:root{
  --fuente-Lista:2.3rem;
  --fuente-Descripcion:3rem;
}

.cabecera{
  font-size: 4rem;
  margin:0 5rem;
}

.cuadernosArticle{
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.cuadernosArticleImg{
  order:1;
  flex-grow: 1;
}

.cuadernosArticle figcaption{
  order:3;
  width: 100%;
}

.cuadernosLista{
  order:2;
  flex-grow: 1;
}
