
.principal{
  display: flex;
  flex-direction: row;
}

.navegadorItem{
  padding: .7rem;
}

.contenedor{
  flex-direction: row;
  flex-wrap: wrap;
}

.navegador{
  width: 15%;
}

.navegadorLista{
  flex-direction: column;
}

.apunteCabecera{
  justify-content: center;
}
